nav {
    background-color: #DEF2F1;
    height: 100%;
}

a {
    color: #17252A;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}


div {
    display: inline;
    margin-right: 20%;
    height: 100%;
}

.firstDiv {
    margin-left: 23%;
}