
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  background-color: #DEF2F1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

nav {
  position: absolute;
  top:0;
  left:0;
  bottom: 0;
  width: 300px;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;

}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 20%;
  height: 18%;
  flex: 100px 0;
  margin-right: 4%;
}

.text-placeholder {
  border-radius: 5px;
  flex: 1;
  font-size:x-large;
  text-decoration: none;
  color: #DEF2F1;

}

.content {
  background-color: #2B7A78;
  min-width: 80vw;
  width: 80%;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  background-color: #3AAFA9;
}

.App-header {
  background-color: #2B7A78;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #2B7A78;
}

.image-container {
  display: flex;
  margin-top: 5%;
  justify-content: space-around;
  align-items: center;
  background-color: #DEF2F1;
  border-radius: 5px;
  height: 30%;
  width: 40%;
}

.LeftShoulder {
  display: flex;
  width: 20%;
  height: 100%;
}

img {
  border-radius: 5px;
}

.text-container {
  display: inline-block;
}

.App-link {
  color: #DEF2F1;
}

body {
  background-color: #2B7A78;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
