  
@media (max-width: 1920px) { 

  * {
    box-sizing: border-box;
    font-family: ".SFNSText", "SFProText-Regular", "SFUIText-Regular", ".SFUIText",
      Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }


  @font-face {
    font-family: "Bavista";
    src: url("./assets/fonts/Bavista_Soulare.ttf") format('truetype');
  }
  
  @font-face {
    font-family: "Alexandria";
    src: url('./assets/fonts/AlexandriaFLF-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: "AlexandriaItalics";
    src: url('./assets/fonts/AlexandriaFLF-Italic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Albas';
    src: url('./assets/fonts/ALBAS___.TTF') format('truetype');
  }
  
  #root {
    display: flex;
    justify-content: center;
  }
  
  .screen {
    width: 100%;
    height: 100%;
  }
  
  .container {
    max-width: 990px;
    flex: 1 1 100%;
    padding: 45px 25px;
  }
  
  h1 {
    font-weight: bold;
    color: white;
    margin: 6px 0 12px;
  }
  
  .date {
    color: var(--secondary);
    font-size: 14px;
    text-transform: uppercase;
  }
  
  header {
    border-bottom: 1px solid var(--divider);
    position: relative;
  }
  
  .avatar {
    background: var(--divider);
    border-radius: 50%;
    position: absolute;
    bottom: 12px;
    right: 0;
    overflow: hidden;
  }
  
  .avatar,
  .avatar img {
    width: 40px;
    height: 40px;
  }
  
  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .card-list {
    display: flex;
    flex: 0 0 50%;
    flex-wrap: wrap;
    align-content: flex-start;
    width: auto;
    margin-left: 18.5vw;
    margin-top: 7vh;
  }
  
  .card {
    position: relative;
    padding: 1vw;
    height: 35vh;
    width: auto;
    flex: 0 0 40%;
    max-width: 40%;
    margin-bottom: -5vh;
  }
  
  .card:nth-child(4n + 1),
  .card:nth-child(4n + 4) {
    flex: 0 0 40%;
    max-width: 40%;
  }
  
  .card:nth-child(odd) {
    padding-left: 0;
  }
  
  .card:nth-child(even) {
    padding-right: 0;
  }

  .card-content-container.closed {
    max-width: 500px;
    min-width: 400px;
  }
  
  .card-content-container {
    width: 100%;
    height: 70%;
    position: relative;
    display: block;
    pointer-events: none;
  }
  
  .card-content-container.open {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    padding: 40px 0;
    cursor: grab;
  }
  
  .card-content {
    pointer-events: auto;
    position: relative;
    border-radius: 20px;
    border: 2px solid #fff;
    background: #1b2636;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  
  .open .card-content {
    height: 90vh;
    width: auto;
    max-width: 500px;
    overflow: hidden;
  }
  
  .card-open-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .card-image-container {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 420px;
    width: 100vw;
    transform: translateZ(0);
  }
  
  .title-container {
    position: absolute;
    top: 0;
    left: 0;
    max-width: auto;
    margin-left: 2vw;
    margin-top: 2vh;
  }
  
  h2 {
    color: #fff;
    margin: 8px 0;
    margin-top: 2vh;
    font-family: "Alba";
    font-size: 3.5vh;
  }
  
  .category {
    color: #fff;
    font-size: 1.2vh;
    text-transform: uppercase;
    width: auto;
  }
  
  .overlay {
    z-index: 1;
    position: fixed;
    background: #1b2636;
    will-change: opacity;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  
  .overlay a {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    left: 50%;
  
    transform: translateX(-50%);
  }

  .repoLink {
    display: inline-block;
    width: 5vw;
  }
  
  .content-container {
    padding: 300px 35px 35px 35px; /*This padding controls where the inner text of the card lies*/
    max-width: 700px;
    width: 90vw;
    margin-top: -8vh;
  }
  
  p {
    color: #ffffff;
    line-height: 28px;
    white-space: pre-line;
    margin-left: '2vw';
    font-size: 'auto'
  }

}


  @media (max-width: 1500px) {
    p {
      color: #ffffff;
      line-height: 20px;
      white-space: pre-line;
      margin-left: '2vw';
      margin-top: -5vh;
    }

    .card-list {
      flex: 0 0 50%;
    }


    .card-content-container.closed {
      max-width: 500px;
      min-width: 500px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .card {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .card:nth-child(4n + 1),
    .card:nth-child(4n + 4) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .card {
      flex: 1 0 100%;
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  
    .card:nth-child(4n + 1),
    .card:nth-child(4n + 4) {
      flex: 1 0 100%;
      max-width: 100%;
    }
  
    .card-content-container.open {
      padding: 0;
      top: 0;
      left: 0;
      right: 0;
      width: 100vw;
      height: 100%;
      position: fixed;
      z-index: 1;
      overflow: hidden;
      padding: 40px 0;
      cursor: grab;
    }

    .card-content {
      pointer-events: auto;
      position: relative;
      border-radius: 20px;
      border: 2px solid #fff;
      background: #1b2636;
      width: 200%;
      height: 100%;
      margin: 0 auto;
    }
  }
  