.contactContent {
    background-color: #00000000;
    color: #00000000;
    min-width: 70vw;
    width: 80vw;
    align-items: center;
    justify-content: right;
    min-height: auto;
    margin-left: 5vw;
  }

.icon {
    border: none;
    width: 5vw;
    height: 9vh;
    display: inline-flex;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: 0px;
}

@media (max-width: 1920) {

    .PhoneDiv {
        width: 30vw; 
        margin-top: 7vh;
        margin-left: 15vw;
        align-items: center; 
        display: inline-flex;
        justify-content: flex-start;
        height: 20px;
    }
}

@media (max-width: 1500) {

}