
@font-face {
  font-family: 'Juana';
  src: url('./assets/fonts/Fontspring-DEMO-juana-light.otf') format('opentype');
}

@font-face {
  font-family: 'Albas';
  src: url('./assets/fonts/ALBAS___.TTF') format('truetype');
}

@font-face {
  font-family: 'Alba';
  src: url('./assets/fonts/ALBA____.TTF') format('truetype');
}

@font-face {
  font-family: 'Roca';
  src: url('./assets/fonts/RocaOne-It.ttf') format('truetype');
}

@font-face {
  font-family: 'Roca2';
  src: url('./assets/fonts/RocaTwo-It.ttf') format('truetype');
}


@media (max-width: 1920px) {
  /* CSS styles for screens larger than 1024px */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/** There is an issue where if the scroll bar is able to even go one pixel over the height of the window the user can scroll infinitely */
.App {
  background-color: #f3f0d4;
  overflow-x: auto;
  overflow-y:auto;
  max-height: auto;
}


#headerImg {
  max-width: 100vw;
  position: absolute;
  z-index: 2;
  margin-bottom: 10vh;
}

.Heading {
  margin-top: 10%;
  height: 10%;
}

.hider {
  background-color: #F3F0D4;
  position: absolute;
  width: 100vw;
  height: 60vh;
  top: 0;
  z-index: 1;
}

section {
  margin-top: 30vh;
  margin-left: 3vw;
  width: 70%;
  position: center;
}

html {
  scroll-behavior: smooth;
}


#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 5vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.05);
}


#progressbar1 {
  position: fixed;
  margin-top: 0;
  left: 81.85vw;
  min-width: 3.4vw;
  max-width: 3.4vw;
  background: linear-gradient(to right, #6f5345 25%, #ce7052 25% 50%, #dc9954 50% 75%, #d3c598 75%);
  z-index: 0;
}

iframe {
  display: block;
  width: 50vw;
  height: 100vh;
}


#footerImg {
  max-width: 100vw;
  position: absolute;
  left: 0;
  background-color: #F3F0D4;
}

#contactDiv {
  position: relative;
  left: 7vw;
  width: 80vw;
}


@keyframes animate {
  0%, 100%
  {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

}