

@font-face {
  font-family: "Bavista";
  src: url("./assets/fonts/Bavista_Soulare.ttf") format('truetype');
}

@font-face {
  font-family: "Alexandria";
  src: url('./assets/fonts/AlexandriaFLF-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "AlexandriaItalics";
  src: url('./assets/fonts/AlexandriaFLF-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Albas';
  src: url('./assets/fonts/ALBAS___.TTF') format('truetype');
}

@media (max-width: 1920px) {
  /* CSS styles for screens larger than 1024px */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  background-color: #f3f0d4;
  overflow-x: auto;
}


.Heading {
  margin-top: 10%;
}

p {
  align-items: center;
}

section {
  width: 50%
}

html {
  scroll-behavior: smooth;
}

#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}


#progressbar1 {
  position: fixed;
  top: 0;
  right: 0;
  width: 5%;
  border-radius: 3%;
 
  background: linear-gradient(to right, #6f5345 25%, #ce7052 25% 50%, #dc9954 50% 75%, #d3c598 75%);
}






@keyframes animate {
  0%, 100%
  {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

}