

@font-face {
  font-family: "Bavista";
  src: url("./assets/fonts/Bavista_Soulare.ttf") format('truetype');
}

@font-face {
  font-family: "Alexandria";
  src: url('./assets/fonts/AlexandriaFLF-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "AlexandriaItalics";
  src: url('./assets/fonts/AlexandriaFLF-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Albas';
  src: url('./assets/fonts/ALBAS___.TTF') format('truetype');
}

@media (max-width: 1920px) {
  /* CSS styles for screens larger than 1024px */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  background-color: #f3f0d4;
  overflow-x: auto;
}

nav {
  position: absolute;
  top:0;
  left:0;
  bottom: 0;
  width: 4vw;
  height: 100vh;
  margin-left: .7vw;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 1vh;
  left: 1vw;
  width: 1vw;
  height: 5vh;
  border-radius: 50%;
  background: transparent;

}

.top {
  height: 6vh;
  background-color: #B64228;
  width: 100vw;
  position: relative;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin-bottom: 5vh;
  display: flex;
  align-items: center;
  cursor: pointer;
}


.TextDiv {
  border: .15vw solid #FFFFFF;
  border-radius: 2vw;
  height: auto;
  background-color: #1b2636;
  width: 68%;
  margin-left: auto;
  padding-left: 1vw;
  padding-bottom: 2%;
  margin-bottom: 3vh;
}

.TextHead {
color: #FFFFFF;
font-family: Bavista;
font-size: 90px;
height: 100px;
background-color: #00000000;
}

.Para {
  font-family: Alexandria;
  font-size: 20px;
  color: #FFFFFF;
  align-items: flex-start;
  width: 99%;
  height: 99%;
  line-height: auto;
  white-space: pre-line;
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15vw;
  height: 100vh;
  background-color: #00000000; /*I could change this to #002A2B2A for like a shadow effect but I'm not sure how to feel about it */
  border-radius: 2px;
}




}